@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #212121;
    color: grey;
}

button{
    position: relative;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 40px;
    display: inline-block;
    border-radius: 6em;
    transition: all .2s;
    border: none;
    font-family: inherit;
    font-weight: 500;
    color: black;
    background-color: white;
}

button:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

button::after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position:absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
    background-color: #fff;
}

button:hover::after{
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

#counter {
    display: flex;
}

#currentNumber {
    display: flex;
    color: grey;
    align-items: center;
    margin: 0 20px;
    font-size: 16pt;
}